___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, just an overview of the programming language.

This notebook will go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
name_of_var = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'single quotes'

'single quotes'

In [13]:
"double quotes"

'double quotes'

In [14]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

In [15]:
notes = """triple quotes, usually
used for multi lines"""

notes

'triple quotes, usually\nused for multi lines'

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
print(notes)

triple quotes, usually
used for multi lines

In [21]:
# Using F-Strings, that allow to expand inside an string
num = 12
name = 'Sam'

print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [22]:
# similar as above but using format
print('My number is: {}, and my name is: {}'.format(num, name))

My number is: 12, and my name is: Sam

### Lists

In [23]:
[1, 2, 3]

[1, 2, 3]

In [24]:
['hi', 1, [1,2]]

['hi', 1, [1, 2]]

In [25]:
my_list = ['a', 'b', 'c']

In [26]:
# Add into a list
my_list.append('d')

In [27]:
my_list

['a', 'b', 'c', 'd']

In [28]:
# Indexing
my_list[0]

'a'

In [29]:
my_list[1]

'b'

In [30]:
# Slice indexing, from the first to the end
my_list[1:]

['b', 'c', 'd']

In [31]:
# Slice from the first (inclusive) to the first (not inclusive)
my_list[:1]

['a']

In [32]:
my_list[0] = 'NEW'

In [33]:
my_list

['NEW', 'b', 'c', 'd']

In [34]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [35]:
nest[3]

[4, 5, ['target']]

In [36]:
nest[3][2]

['target']

In [37]:
nest[3][2][0]

'target'

### Dictionaries

In [38]:
d = {'key1': 'item1', 'key2': 'item2'}

In [39]:
d

{'key1': 'item1', 'key2': 'item2'}

In [40]:
d['key1']

'item1'

In [41]:
# add key and value
d['key3'] = 'item3'
d

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

### Booleans

In [42]:
True

True

In [43]:
False

False

### Tuples

In [44]:
t = (1, 2, 3)

In [45]:
t[0]

1

In [46]:
# Tuples are immutable
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [47]:
{1, 2, 3}

{1, 2, 3}

In [48]:
# sets are unique "set" of elements
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

{1, 2, 3}

## Comparison Operators

In [49]:
1 > 2

False

In [50]:
1 < 2

True

In [51]:
1 >= 1

True

In [52]:
1 <= 4

True

In [53]:
1 == 1

True

In [54]:
'hi' == 'bye'

False

## Logic Operators

In [55]:
(1 > 2) and (2 < 3)

False

In [56]:
(1 > 2) or (2 < 3)

True

In [57]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## `if`, `elif`, `else` Statements

In [58]:
if 1 < 2:
    print('Yep!')

Yep!

In [59]:
if 1 < 2:
    print('first')

else:
    print('last')

first

In [60]:
if 1 > 2:
    print('first')

else:
    print('last')

last

In [61]:
if 1 == 2:
    print('first')

elif 3 == 3:
    print('middle')

else:
    print('Last')

middle

## for Loops

In [62]:
seq = [1, 2, 3, 4, 5]

In [63]:
for item in seq:
    print(item)

1
2
3
4
5

In [64]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [65]:
for num in seq:
    print(num + num)

2
4
6
8
10

## while Loops

In [66]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [70]:
x = [1, 2, 3, 4]

In [71]:
# usual way without listcomprehension
out = []
for item in x:
    out.append(item**2)

print(out)

[1, 4, 9, 16]

In [72]:
# With listcomprehension
[item**2 for item in x]

[1, 4, 9, 16]

In [73]:
[item**2 for item in x if item % 2 == 0]

[4, 16]

## functions

In [74]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [75]:
my_func

In [76]:
my_func()

default

In [77]:
my_func('new param')

new param

In [78]:
my_func(param1='new param')

new param

In [79]:
def square(x):
    return x**2

out = square(2)
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var * 2

times2(2)

4

In [81]:
lambda var: var * 2

In [82]:
result = lambda var: var * 2
result(4)

8

In [83]:
print(f'two times two is: {result(2)}\nsix times two is: {result(6)}')

two times two is: 4
six times two is: 12

## map and filter

In [84]:
seq = [1, 2, 3, 4, 5]

In [85]:
# Apply the times2 function defined above to the whole sequence of numbers
map(times2, seq)

In [86]:
# As above returns a Map type, by listing it returns the values
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [87]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [88]:
list(map(result, seq))

[2, 4, 6, 8, 10]

In [89]:
# Now filtering ONLY the ones that are divisible by 2
filter(lambda item: item % 2 == 0, seq)

In [90]:
list(filter(lambda item: item % 2 == 0, seq))

[2, 4]

## methods

In [91]:
st = 'hello my name is Sam'

In [92]:
st.lower()

'hello my name is sam'

In [93]:
st.upper()

'HELLO MY NAME IS SAM'

In [94]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [95]:
tweet = 'Go Sports! #Sports'

In [96]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [97]:
tweet.split('#')[1]

'Sports'

In [99]:
d = {'key1': 'item1', 'key2': 'item2'}
d.keys()

dict_keys(['key1', 'key2'])

In [100]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [101]:
# iterating on key and values, NOTE: _ means usually not using that element
[v.upper() for _, v in d.items()]

['ITEM1', 'ITEM2']

In [102]:
lst = [1, 2, 3]

In [103]:
lst.pop()

3

In [104]:
lst

[1, 2]

In [105]:
'x' in [1, 2, 3]

False

In [106]:
'x' in ['x', 'y', 'z']

True