## Time Methods

### Python Datetime Review

Python `datetime` from the standard library

In [1]:
from datetime import datetime


my_year = 2022
my_month = 1
my_day = 1
my_hour = 12
my_minute = 30
my_second = 15

In [4]:
# January 1st, 2022, defaults 00:00
my_date = datetime(my_year, my_month, my_day)
my_date

datetime.datetime(2022, 1, 1, 0, 0)

In [5]:
# January 1st, 2022 at 12:30:15
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)
my_date_time

datetime.datetime(2022, 1, 1, 12, 30, 15)

In [6]:
print(f'day:{my_date_time.day}, hour:{my_date_time.hour}')

day:1, hour:12

### Pandas

#### Converting to datetime

Often when data sets are stored, the time component may be a string. Pandas easily converts strings to datetime objects.

In [7]:
import pandas as pd


myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [8]:
myser

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [9]:
myser[0]

'Nov 3, 2000'

#### `pd.to_datetime()`

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps

In [10]:
pd.to_datetime(myser)

0   2000-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [11]:
pd.to_datetime(myser)[0]

Timestamp('2000-11-03 00:00:00')

In [15]:
obvi_euro_date = '31-12-2000'
pd.to_datetime(obvi_euro_date, infer_datetime_format=True)

Timestamp('2000-12-31 00:00:00')

In [16]:
# 10th of Dec OR 12th of October?
# We may need to tell pandas
euro_date = '10-12-2000'
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [17]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

#### Custom Time String Formatting

Sometimes dates can have a non standard format, luckily you can always specify to pandas the format.
<br>You should also note this could speed up the conversion, so it may be worth doing even if pandas can parse on its own.
<br>A full table of codes can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [18]:
style_date = '12--Dec--2000'
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [19]:
strange_date = '12th of Dec 2000'
pd.to_datetime(strange_date)

Timestamp('2000-12-12 00:00:00')

#### Data

Retail Sales: Beer, Wine, and Liquor Stores
- Units:  Millions of Dollars, Not Seasonally Adjusted
- Frequency:  Monthly

U.S. Census Bureau, Retail Sales: Beer, Wine, and Liquor Stores [MRTSSM4453USN], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/MRTSSM4453USN, July 2, 2020.

In [21]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [22]:
sales.iloc[0]['DATE']

'1992-01-01'

In [23]:
type(sales.iloc[0]['DATE'])

str

In [24]:
sales['DATE'] = pd.to_datetime(sales['DATE'])
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [25]:
sales.iloc[0]['DATE']

Timestamp('1992-01-01 00:00:00')

In [26]:
type(sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

------

#### Attempt to Parse Dates Automatically

**parse_dates** - bool or list of int or names or list of lists or dict, default False
The behavior is as follows:

- boolean: If True -> try parsing the index.
- list of int or names: e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
- list of lists. e.g. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
- dict, e.g. {‘foo’ : [1, 3]} -> parse columns 1, 3 as date and call result ‘foo’

If a column or index cannot be represented as an array of datetimes, say because of an unparseable value or a mixture of timezones, the column or index will be returned unaltered as an object data type. For non-standard datetime parsing, use pd.to_datetime after pd.read_csv. To parse an index or column with a mixture of timezones, specify date_parser to be a partially-applied pandas.to_datetime() with utc=True. See Parsing a CSV with mixed timezones for more.

In [27]:
# Parse Column at Index 0 as Datetime
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [30]:
type(sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

In [33]:
# Similar as above, but using the name of the column
sales_2 = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=['DATE'])
type(sales_2.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

#### Resample

A common operation with time series data is resampling based on the time series index. Let's see how to use the `resample()` method. [reference](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)

In [34]:
sales.index

RangeIndex(start=0, stop=340, step=1)

In [35]:
sales = sales.set_index("DATE")
sales

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

When calling `.resample()` you first need to pass in a **rule** parameter, then you need to call some sort of aggregation function.

The **rule** parameter describes the frequency with which to apply the aggregation function (daily, monthly, yearly, etc.)<br>
It is passed in using an "offset alias" - refer to the table below. [[reference](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)]

The aggregation function is needed because, due to resampling, we need some sort of mathematical rule to join the rows (mean, sum, count, etc.)

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>M</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>Q</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=white>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>

In [37]:
# Yearly Means
sales.resample(rule='A').mean().head()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000

Resampling rule 'A' takes all of the data points in a given year, applies the aggregation function (in this case we calculate the mean), and reports the result as the last day of that year. Note 2020 in this data set was not complete.

# .dt Method Calls

Once a column or index is ina  datetime format, you can call a variety of methods off of the .dt library inside pandas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [39]:
sales = sales.reset_index()
sales

     index       DATE  MRTSSM4453USN
0        0 1992-01-01           1509
1        1 1992-02-01           1541
2        2 1992-03-01           1597
3        3 1992-04-01           1675
4        4 1992-05-01           1822
..     ...        ...            ...
335    335 2019-12-01           6630
336    336 2020-01-01           4388
337    337 2020-02-01           4533
338    338 2020-03-01           5562
339    339 2020-04-01           5207

[340 rows x 3 columns]

See `help(sales['DATE'].dt)`

In [40]:
sales['DATE'].dt.month

0       1
1       2
2       3
3       4
4       5
       ..
335    12
336     1
337     2
338     3
339     4
Name: DATE, Length: 340, dtype: int64

In [41]:
sales['DATE'].dt.is_leap_year

0       True
1       True
2       True
3       True
4       True
       ...
335    False
336     True
337     True
338     True
339     True
Name: DATE, Length: 340, dtype: bool

---